@page "{IdPaciente}"
@model HospiEnCasa.App.FrontEnd.Pages.Pacientes.DetallePaciente
@{
    ViewData["Title"] = "Detalle De Paciente";
}

<div>
    <div class="container mt-5">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-card user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img src="~/assets/paciente.png" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 text-dark">@Model.Paciente.Nombres  @Model.Paciente.Apellidos</h6>
                        <p class="text-dark">Paciente</p>
                        <div class="mt-5">
                            <a asp-page="/Familiares/NuevoFamiliar" asp-route-IdPaciente="@Model.Paciente.IdPaciente" class="btn btn-primary btn-sm btn-round">
                            <i class="fa fa-plus mr-1"></i>
                            Agregar Familiar</a>
                        </div>
                        <div class="dropdown">
                          <a class="btn btn-primary btn-sm btn-round dropdown-toggle mt-3" href="#" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mas Opciones
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" asp-page="/Pacientes/AsignarPersonal" asp-route-IdPaciente="@Model.Paciente.IdPaciente">Asignar Personal Medico</a>
                            <a class="dropdown-item" href="#">Consultar historia</a>
                            <a class="dropdown-item" href="#">Crear Sugerencia</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información del paciente</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Nombres</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Nombres</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Apellidos</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Apellidos</h6>
                            </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Documento de Identidad</p>
                              <h6 class="text-muted f-w-400">@Model.Paciente.Id</h6>
                          </div>
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Teléfono</p>
                              <h6 class="text-muted f-w-400">@Model.Paciente.Telefono</h6>
                          </div>
                            <div class="col-sm-6 mt-2">
                                <p class="m-b-10 f-w-600">Familiar Asignado</p>
                                @if (Model.FamiliarAsignado != null)
                                {
                                  <a class="text-active f-w-400" asp-page="/Familiares/DetalleFamiliar" asp-route-IdPaciente="@Model.FamiliarAsignado.IdPaciente">@Model.FamiliarAsignado.Nombres @Model.FamiliarAsignado.Apellidos</a>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                            <div class="col-sm-6 mt-2">
                                <p class="m-b-10 f-w-600">Medico Asignado</p>
                                @if (Model.MedicoAsignado != null)
                                {
                                  <a class="text-active f-w-400" asp-page="/Medicos/DetalleMedico" asp-route-IdMedico="@Model.MedicoAsignado.IdMedico">@Model.MedicoAsignado.Nombres @Model.MedicoAsignado.Apellidos</a>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                      </div>
                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Ubicación</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Dirección</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Direccion</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Ciudad</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Ciudad</h6>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Latitud</p>
                              <h6 class="text-muted f-w-400">@Model.Paciente.Latitud</h6>
                          </div>
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Longitud</p>
                              <h6 class="text-muted f-w-400">@Model.Paciente.Longitud</h6>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
<!--Signos vitales del paciente-->
      <h2 class="divider line one-line">Signos Vitales</h2>

      <div class="container w-75 d-flex justify-content-around mb-5 mt-3">
        <a asp-page="/Pacientes/RegistrarSigno" asp-route-IdSigno="1" asp-route-idPaciente="@Model.Paciente.IdPaciente">
        <div class="pill work">
          <div class="img-section bg-blue">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 363.188 363.188" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 363.188 363.188" height="77" width="76">
              <g>
                <path d="m111.667,132.311c-61.574,0-111.667,50.093-111.667,111.666s50.093,111.667 111.667,111.667 111.667-50.094 111.667-111.667-50.094-111.666-111.667-111.666zm0,208.333c-53.303,0-96.667-43.364-96.667-96.667 0-53.302 43.364-96.666 96.667-96.666s96.667,43.364 96.667,96.666c-0.001,53.303-43.365,96.667-96.667,96.667z"/>
                <path d="m111.667,173.977c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5 7.5,7.5c30.327,0 55,24.673 55,55 0,4.143 3.358,7.5 7.5,7.5s7.5-3.357 7.5-7.5c0-38.598-31.402-70-70-70z"/>
                <path d="m298.333,69.835c-35.761,0-64.855,29.094-64.855,64.855 0,35.761 29.094,64.854 64.855,64.854s64.855-29.094 64.855-64.854c-5.68434e-14-35.761-29.093-64.855-64.855-64.855zm0,114.71c-27.49,0-49.855-22.364-49.855-49.854s22.365-49.855 49.855-49.855 49.855,22.365 49.855,49.855-22.364,49.854-49.855,49.854z"/>
                <path d="m302.012,157.925c-14.84,0-26.913-12.073-26.913-26.913 0-4.143-3.358-7.5-7.5-7.5s-7.5,3.357-7.5,7.5c0,23.111 18.802,41.913 41.913,41.913 4.142,0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"/>
                <path d="m123.358,96.568c24.544,0 44.512-19.968 44.512-44.512s-19.968-44.512-44.512-44.512-44.512,19.968-44.512,44.512 19.968,44.512 44.512,44.512zm0-74.024c16.273,3.55271e-15 29.512,13.239 29.512,29.512s-13.239,29.512-29.512,29.512-29.512-13.239-29.512-29.512 13.239-29.512 29.512-29.512z"/>
              </g>
            </svg>
          </div>
          <div class="pill-desc">
            <div class="pill-header">
              <div class="pill-title font-weight-bold">Oximetría</div>
              <div class="pill-menu">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="pill-time mb-2">Ultimo valor registrado</div>
            @if (@Model.SignoVitales != null) 
            {
                <p class="recent">@Model.SignoVitales.Oximetria %</p>
            } else {
                <p class="recent">Sin Registrar</p>
            }
          </div>
        </div>
        </a>
        <a asp-page="/Pacientes/RegistrarSigno" asp-route-IdSigno="2" asp-route-idPaciente="@Model.Paciente.IdPaciente">
        <div class="pill work">
          <div class="img-section bg-light-blue">
            <svg height="77" width="76" viewBox="0 0 64 64" id="Layer_1_1_" style="enable-background:new 0 0 64 64;" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M53,13h-0.701l-0.239,0.658c-1.209,3.326-2.998,6.368-5.241,9.023L37,13.564V1H27v12.564l-9.819,9.117  c-2.244-2.654-4.032-5.696-5.242-9.023L11.701,13H11C5.486,13,1,17.486,1,23v17c0,12.683,10.318,23,23,23c2.757,0,5-2.243,5-5V34.39  c0-1.842-1.007-3.529-2.63-4.403l-0.59-0.317c-0.545-0.293-1.063-0.625-1.585-0.95L30.391,23h3.218l6.196,5.719  c-0.522,0.325-1.04,0.656-1.584,0.949l-0.591,0.318C36.007,30.86,35,32.547,35,34.39V58c0,2.757,2.243,5,5,5  c12.682,0,23-10.317,23-23V23C63,17.486,58.514,13,53,13z M35,13h-6v-2h6V13z M35,9h-6V7h6V9z M35,3v2h-6V3H35z M28.393,15h7.215  l2.474,2.297L33.638,21h-3.276l-4.443-3.703L28.393,15z M25.422,31.748c0.542,0.292,0.952,0.743,1.225,1.269L19.551,41h-9.036  l-4.701-6.581l-1.628,1.162L9.485,43h0.034l3.055,3.819L9.667,49H8v2h2.333L13,49v4h2v-6.351L12.081,43H19v8.333l3.2,4.267  l1.6-1.199L21,50.667V42.38l6-6.75V58c0,1.654-1.346,3-3,3C12.42,61,3,51.579,3,40V23c0-4.182,3.226-7.625,7.319-7.971  c0.669,1.716,1.486,3.357,2.428,4.913L8,25.638V33h2v-5.234l3,1.8V37h2v-8.566l-4.484-2.69l3.387-4.065  c2.816,4.024,6.53,7.383,10.929,9.752L25.422,31.748z M18.535,24.154l5.906-5.484l4.043,3.369l-5.995,5.534  C21.067,26.546,19.746,25.404,18.535,24.154z M35.516,22.038l4.043-3.369l5.906,5.484c-1.211,1.251-2.532,2.393-3.954,3.419  L35.516,22.038z M61,40c0,11.579-9.42,21-21,21c-1.654,0-3-1.346-3-3V35.63l6,6.75v8.287L40.2,54.4l1.6,1.199l3.2-4.267V43h6.919  L49,46.649V53h2v-4l2.667,2H56v-2h-1.667l-2.908-2.181L54.481,43h0.034l5.299-7.419l-1.628-1.162L53.485,41h-9.036l-7.096-7.984  c0.273-0.526,0.683-0.977,1.224-1.268l0.591-0.318c4.399-2.369,8.113-5.727,10.929-9.752l3.387,4.065L49,28.434V37h2v-7.434l3-1.8  V33h2v-7.362l-4.747-5.697c0.943-1.556,1.759-3.197,2.428-4.913C57.774,15.375,61,18.818,61,23V40z"/></svg>
          </div>
          <div class="pill-desc bg-desc-light-blue">
            <div class="pill-header">
              <div class="pill-title font-weight-bold">Frecuencia Respiratoria</div>
              <div class="pill-menu">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="pill-time mb-2">Ultimo valor Registrado</div>
            @if (@Model.SignoVitales != null) 
            {
                <p class="recent">@Model.SignoVitales.FreRespiratoria Respiraciones/Min</p>
            } else {
                <p class="recent">Sin Registrar</p>
            }
          </div>
        </div>
        </a>
        <a asp-page="/Pacientes/RegistrarSigno" asp-route-IdSigno="3" asp-route-idPaciente="@Model.Paciente.IdPaciente">
        <div class="pill work">
          <div class="img-section bg-light-red">
            <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 433.692 433.692" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 433.692 433.692">
              <g>
                <path d="m235.32,73.969c7.964-9.403 15.698-18.245 23.112-27.348 14.336-17.603 32.895-27.901 54.824-32.888 19.282-4.386 38.432-6.045 57.863-0.696 31.875,8.775 49.646,31.238 56.984,61.679 9.694,40.215 6.032,80.29-5.247,120.002-9.488,33.406-26.053,63.245-44.035,92.461-21.296,34.603-45.134,67.386-73.697,96.375-14.467,14.684-30.265,27.913-49.241,37.002-11.705,5.607-21.719,4.197-32.1-2.838-22.018-14.919-42.312-31.881-62.223-49.481-22.898-20.239-46.824-39.309-70.16-59.057-28.129-23.803-51.151-51.888-69.618-83.761-18.816-32.475-25.496-67.521-19.828-104.318 6.06-39.335 29.992-66.381 63.959-85.127 15.68-8.654 32.922-13.698 50.726-13.718 12.314-0.013 25.124,1.979 36.853,5.75 29.657,9.535 57.13,23.61 81.828,45.963zm168.417,132.832c1.11-2.706 1.876-4.35 2.469-6.054 6.925-19.92 11.371-40.396 12.758-61.43 1.509-22.881 1.38-45.802-5.955-67.823-7.605-22.834-21.406-39.882-45.919-46.682-13.122-3.64-25.977-3.685-39.279-1.822-26.076,3.653-47.47,15.013-63.467,36.207-4.657,6.17-9.601,12.16-14.821,17.858-4.677,5.106-9.396,10.428-16.974,12.314-1.596-1.487-3.234-2.891-4.733-4.432-5.06-5.199-9.425-11.345-15.219-15.513-19.586-14.09-41.375-24.122-64.302-31.371-19.854-6.277-39.882-5.678-59.715,1.037-27.43,9.288-47.821,27.089-62.635,51.58-5.64,9.325-9.592,19.344-10.484,32.366 5.666-7.445 10.199-13.401 14.731-19.357-2.533,7.394-6.114,14.147-10.968,19.809-5.79,6.755-5.889,14.317-6.26,24.788 11.129-14.525 20.808-27.159 30.488-39.792 0.569,0.437 1.138,0.874 1.707,1.311-2.103,3.383-4.081,6.854-6.334,10.135-6.676,9.72-13.586,19.282-20.126,29.09-1.984,2.975-4.324,6.547-4.336,9.854-0.051,13.3 3.324,25.924 9.17,38.943 12.269-18.357 23.792-35.596 35.315-52.835-7.325,21.545-22.074,38.688-33.818,58.853 4.591,8.173 9.343,16.633 14.469,25.758 9.952-16.684 19.114-32.042 28.275-47.4 0.781,0.438 1.561,0.875 2.342,1.313-9.182,16.495-18.363,32.991-27.737,49.83 2.582,3.496 4.833,6.543 7.714,10.444 6.576-10.765 12.322-20.172 18.069-29.578-1.322,10.392-8.792,17.919-11.613,28.257 7.045,0.695 13.076,1.29 18.694,1.844 3.233-6.033 5.826-10.871 8.419-15.71 0.408,0.133 0.817,0.267 1.225,0.4-1.244,4.728-2.487,9.456-3.776,14.355 13.602-0.534 14.197-1.025 15.763-13.046 2.041-15.674 3.232-31.513 6.284-46.986 3.125-15.842 7.896-31.374 12.305-46.94 1.157-4.085 2.615-9.144 8.29-8.996 6.124,0.16 7.454,5.314 8.423,10.041 1.474,7.194 2.922,14.43 3.709,21.721 3.316,30.713 6.089,61.489 9.734,92.161 0.999,8.409 0.353,17.414 4.966,25.936 1.196-10.374 1.677-19.988 3.522-29.333 3.058-15.496 6.874-30.849 10.637-46.197 0.996-4.061 3.458-7.719 8.192-7.863 5.005-0.152 6.419,3.939 7.986,7.84 2.606,6.484 5.302,12.959 8.472,19.177 1.291,2.532 3.921,4.381 6.587,7.231 4.372-15.917 5.287-16.391 19.471-12.287 3.529,1.021 7.105,2.223 10.726,2.51 8.148,0.646 12.839-3.818 13.775-11.973 1.679-14.625 3.464-29.24 5.388-43.835 1.202-9.115 2.359-18.267 4.281-27.243 1.033-4.825 2.29-10.685 9.005-10.985 3.978-0.177 6.116,4.308 6.283,12.48 0.528,25.794 0.816,51.593 1.534,77.381 0.361,12.953 1.451,25.886 2.212,38.828 4.78-15.192 7.899-30.303 11.33-45.342 1.222-5.359 2.65-10.817 5.06-15.698 1.262-2.556 5.085-5.733 7.341-5.442 2.923,0.376 6.558,3.408 7.877,6.234 2.294,4.914 2.747,10.65 4.537,15.847 1.717,4.986 2.046,10.951 9.033,14.658 1.546-4.464 2.811-8.503 4.335-12.443 3.519-9.099 7.786-9.972 13.828-2.297 3.833,4.869 8.335,7.172 14.256,6.372 19.252-2.599 38.478-5.379 57.484-8.058zm-225.789,157.787c2.709,2.377 5.245,4.602 8.257,7.244 7.574-13.992 14.06-27.283 23.63-38.664-0.836,4.081-2.236,7.833-4.022,11.39-4.131,8.229-8.637,16.272-12.634,24.564-3.419,7.093-2.958,7.71 5.374,11.53 6.545-10.271 13.09-20.543 19.635-30.814 0.885,0.526 1.77,1.051 2.655,1.577-6.154,11.075-12.309,22.151-18.864,33.946 2.976,2.28 5.664,4.338 8.658,6.631 6.328-9.754 11.442-19.121 20.53-25.525-5.52,9.337-11.04,18.673-16.762,28.352 5.808,4.138 11.367,7.735 16.509,11.854 6.511,5.215 12.711,5.749 20.317,1.794 19.3-10.035 35.41-24.183 49.747-39.955 36.866-40.556 67.022-85.897 92.096-134.612 2.158-4.193 3.813-8.645 5.88-13.384-14.161,0.73-27.7,0.573-40.97,2.388-10.353,1.416-20.215,2.191-29.911-2.623-1.344,2.636-2.184,4.677-3.352,6.508-5.637,8.84-15.17,9.99-22.137,2.145-3.086-3.476-4.831-8.149-7.149-12.298-1.075-1.924-2.063-3.897-3.853-7.295-5.306,23.795-8.678,45.905-9.741,68.38-0.346,7.326-1.258,14.648-2.364,21.904-0.59,3.872-3.172,7.461-7.278,6.984-3.187-0.371-6.79-2.514-8.93-4.979-2.007-2.31-2.901-6.006-3.309-9.216-2.177-17.115-4.916-34.224-5.794-51.421-0.996-19.505-0.23-39.1-0.23-58.656-2.896,9.824-3.877,19.671-5.253,29.464-1.365,9.716-2.748,10.54-12.142,12.836-7.078,1.73-13.767,1.193-20.555-0.926-2.662-0.831-5.432-1.32-8.571-2.064-0.344,2.227-0.722,3.632-0.75,5.045-0.094,4.832-1.742,8.856-6.537,10.473-4.927,1.661-9.756,0.479-13.204-3.327-3.417-3.772-6.2-8.144-9.057-12.391-1.733-2.576-3.076-5.415-5.591-9.92-1.299,6.109-2.497,9.994-2.908,13.961-2.427,23.396-4.645,46.814-7,70.218-0.44,4.377-0.965,8.769-1.853,13.072-0.8,3.879-3.034,6.673-7.426,6.984-4.184,0.296-7.242-1.589-8.924-5.222-1.534-3.312-3.099-6.8-3.622-10.361-3.843-26.182-8.072-52.333-10.898-78.631-2.473-23.024-3.249-46.229-4.869-69.347-0.138-1.966-0.991-3.883-1.512-5.822-2.768,3.725-4.073,7.462-4.59,11.304-3.233,24.038-6.167,48.117-9.499,72.141-0.743,5.358-1.639,11.151-4.267,15.704-7.087,12.278-15.146,23.996-21.984,34.636 6.149,7.224 11.086,13.023 16.589,19.488 3.059-5.08 5.263-8.863 7.59-12.569 2.184-3.478 4.499-6.874 6.756-10.307 0.535,0.341 1.07,0.681 1.604,1.022-4.039,8.017-8.078,16.034-12.338,24.49 14.713,11.769 28.692,22.951 43.065,34.448 3.064-5.455 5.684-10.121 8.305-14.786 0.597,0.314 1.194,0.629 1.791,0.943-2.214,5.665-4.428,11.33-6.727,17.21 4.519,3.705 8.603,7.052 13.222,10.839 2.518-5.353 4.322-9.352 6.268-13.281 1.797-3.628 3.63-7.249 5.663-10.748 1.96-3.373 4.196-6.586 6.31-9.869 0.587,0.367 1.173,0.734 1.76,1.101-5.432,11.936-10.865,23.873-16.39,36.014 2.705,2.371 4.789,4.197 7.637,6.693 3.406-6.265 6.277-11.715 9.308-17.074 3.134-5.539 6.425-10.99 9.647-16.479 0.716,0.382 1.432,0.764 2.148,1.146-5.621,11.826-11.244,23.651-17.184,36.143zm-109.674-96.309c3.655,3.863 7.099,7.502 11.215,11.852 4.782-9.239 8.985-17.358 13.768-26.599-7.39,0.352-12.796,0.61-18.205,0.867-2.347,4.807-4.424,9.059-6.778,13.88zm2.123-14.343c-5.475-0.404-9.195-0.678-14.965-1.104 3.977,4.677 6.573,7.729 9.828,11.556 1.884-3.833 3.119-6.345 5.137-10.452z"/>
                <path d="m38.301,205.719c6.628-14.657 15.792-27.806 24.429-41.268 0.788,0.462 1.576,0.924 2.364,1.386-8.03,13.762-16.059,27.524-24.089,41.287-0.902-0.468-1.803-0.936-2.704-1.405z"/>
                <path d="m52.959,127.224c-8.355,12.486-16.71,24.972-26.247,39.225 0.978-10.102 12.675-27.954 26.247-39.225z"/>
                <path d="m111.075,257.949c-4.903,9.165-9.806,18.33-15.398,28.785-0.72-9.083 2.883-16.393 15.398-28.785z"/>
              </g>
            </svg>             
          </div>
          <div class="pill-desc bg-desc-red">
          <div class="pill-header">
          <div class="pill-title font-weight-bold">Frecuencia Cardíaca</div>
          <div class="pill-menu">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          </div>
          <div class="pill-time mb-2">Ultimo valor Registrado</div>
            @if (@Model.SignoVitales != null) 
            {
                <p class="recent">@Model.SignoVitales.FreCardiaca Pulsaciones/min</p>
            } else {
                <p class="recent">Sin Registrar</p>
            }
          </div>
        </div>
      </a>
      </div>
      <div class="container w-75 d-flex justify-content-around mb-5">
        <a asp-page="/Pacientes/RegistrarSigno" asp-route-IdSigno="4" asp-route-idPaciente="@Model.Paciente.IdPaciente">
        <div class="pill work">
          <div class="img-section bg-light-pink">
            <svg width="76" height="77" viewBox="0 0 100 100" enable-background="new 0 0 100 100" id="Layer_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M50,82.3c7.6,0,13.8-6.2,13.8-13.8c0-4.4-2-8.4-5.5-11V26c0-2.2-0.9-4.3-2.4-5.9c-1.6-1.6-3.7-2.4-5.9-2.4   c-4.6,0-8.3,3.7-8.3,8.3v31.5c-3.4,2.6-5.5,6.6-5.5,11C36.2,76.1,42.4,82.3,50,82.3z M44.8,60.3l0.9-0.6V48.2H50v-4h-4.3v-1.8H50   v-4h-4.3v-1.8H50v-4h-4.3v-1.8H50v-4h-4.3V26c0-2.4,1.9-4.3,4.3-4.3c1.1,0,2.2,0.4,3,1.3c0.8,0.8,1.3,1.9,1.3,3v33.6l0.9,0.6   c2.8,1.8,4.5,4.9,4.5,8.2c0,5.4-4.4,9.8-9.8,9.8s-9.8-4.4-9.8-9.8C40.2,65.1,41.9,62.1,44.8,60.3z"/><path d="M50,76.6c4.5,0,8.1-3.6,8.1-8.1c0-3.8-2.6-6.9-6.1-7.8v-8.1h-4v8.1c-3.5,0.9-6.1,4.1-6.1,7.8C41.9,73,45.5,76.6,50,76.6z    M50,64.4c2.3,0,4.1,1.8,4.1,4.1s-1.8,4.1-4.1,4.1s-4.1-1.8-4.1-4.1S47.7,64.4,50,64.4z"/></g></svg>          </div>
          <div class="pill-desc bg-desc-pink">
          <div class="pill-header">
          <div class="pill-title font-weight-bold">Temperatura</div>
          <div class="pill-menu">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          </div>
          <div class="pill-time mb-2">Ultimo valor Registrado</div>
            @if (@Model.SignoVitales != null) 
            {
                <p class="recent">@Model.SignoVitales.Temperatura °C</p>
            } else {
                <p class="recent">Sin Registrar</p>
            }
          </div>
        </div>
        </a>
        <a asp-page="/Pacientes/RegistrarSigno" asp-route-IdSigno="5" asp-route-idPaciente="@Model.Paciente.IdPaciente">
        <div class="pill work">
          <div class="img-section bg-sky">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="76" height="77" viewBox="0 0 125.656 125.655" style="enable-background:new 0 0 125.656 125.655;"
              xml:space="preserve">
            <g>
              <path d="M88.947,67.734c0,1.544-1.252,2.802-2.801,2.802H68.989c-1.401,0-2.583-1.028-2.763-2.419l-3.033-21.769l-6.123,56.013
                c-0.147,1.319-1.216,2.375-2.561,2.474c-0.079,0.005-0.145,0.013-0.229,0.013c-1.251,0-2.354-0.822-2.685-2.043l-9.126-32.46
                l-8.988,17.078c-0.539,1.028-1.667,1.653-2.813,1.479c-1.159-0.139-2.101-0.976-2.388-2.101l-4.375-17.49H2.803
                C1.262,69.312,0,68.052,0,66.51c0-1.549,1.262-2.802,2.803-2.802h23.285c1.284,0,2.412,0.875,2.72,2.123l3.124,12.487l8.843-16.789
                c0.528-1.023,1.631-1.638,2.764-1.488c1.137,0.121,2.089,0.925,2.412,2.024l7.117,25.319l7.018-64.09
                c0.149-1.401,1.321-2.465,2.743-2.487c1.576,0.134,2.617,1.026,2.813,2.426l5.79,41.699h14.719
                C87.695,64.933,88.947,66.192,88.947,67.734z M103.771,64.933h-8.862c-1.54,0-2.802,1.26-2.802,2.802
                c0,1.544,1.262,2.802,2.802,2.802h8.862c1.537,0,2.802-1.258,2.802-2.802C106.573,66.192,105.308,64.933,103.771,64.933z
                M122.854,64.933h-9.431c-1.537,0-2.802,1.26-2.802,2.802c0,1.544,1.265,2.802,2.802,2.802h9.431c1.536,0,2.802-1.258,2.802-2.802
                C125.656,66.192,124.39,64.933,122.854,64.933z"/>
            </g>
            </svg>
          </div>
          <div class="pill-desc bg-desc-sky">
            <div class="pill-header">
              <div class="pill-title font-weight-bold">Presión Arterial</div>
              <div class="pill-menu"data-toggle="modal">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>
            </div>
            <div class="pill-time mb-2">Ultimo valor Registrado</div>
            @if (@Model.SignoVitales != null) 
            {
                <p class="recent">@Model.SignoVitales.Presion Mmhg</p>
            } else {
                <p class="recent">Sin Registrar</p>
            }
          </div>
        </div>
        </a>
      </div>
<!--TABLA DE REGISTRO COMPLETO de Signos vitales del paciente-->
    <div class="container bg-white w-auto p-3 m-5">
        <div>
            <h5 class="f-w-1500 font-weight-bold text-primary text-center divider line one-line">
                REGISTRO DE SIGNOS VITALES</h5>
        </div>
        <table
            id="table"
            class="table table-sm table-striped text-center table-bordered h-75"
            style="width: 100%">
            <thead class="text-center">
                <tr class="table-success">
                    <th>Fecha</th>
                    <th>Tipo de Signo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registroSignos in Model.RegistroSignosPaciente)
                {
                    <tr>
                        <td>@registroSignos.Fecha</td>
                        <td>@registroSignos.DescripSignoVital</td>
                        <td>@registroSignos.Valor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<!--TABLA DE REGISTRO COMPLETO de Historia del paciente-->
    <div class="container bg-white w-auto p-3 m-5">
        <div>
            <h5 class="f-w-1500 font-weight-bold text-primary text-center divider line one-line">
                HISTORIAL CLINICO</h5>
        </div>
        <table
            id="table"
            class="table table-sm table-striped text-center table-bordered h-75"
            style="width: 100%">
            <thead class="text-center">
                <tr class="table-success">
                    <th>Fecha</th>
                    <th>Diagnóstico</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registroHistoria in Model.RegistroHistoriaPaciente)
                {
                    <tr>
                        <td>@registroHistoria.Fecha</td>
                        <td>@registroHistoria.Diagnostico</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>