@page "/Mi-Informacion"
@model HospiEnCasa.App.FrontEnd.Pages.VistaPacientes.MiInformacion
@{
    ViewData["Title"] = "Mi Información";
}

<div>
    <div class="container mt-5">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-card user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25">
                            <img src="~/assets/paciente.png" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600 text-dark">@Model.Paciente.Nombres  @Model.Paciente.Apellidos</h6>
                        <p class="text-dark">Paciente</p>
                        <div class="mt-5">
                            <a asp-page="/Familiares/NuevoFamiliar" asp-route-IdPaciente="@Model.Paciente.IdPaciente" class="btn btn-primary btn-sm btn-round">
                            <i class="fa fa-plus mr-1"></i>
                            Agregar Familiar</a>
                        </div>
                        <div class="dropdown">
                          <a class="btn btn-primary btn-sm btn-round dropdown-toggle mt-3" href="#" role="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mas Opciones
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a class="dropdown-item" href="#">Consultar historia</a>
                            <a class="dropdown-item" asp-page="/VistaPacientes/ActualizarInformacion" asp-route-IdPaciente="@Model.Paciente.IdPaciente">Editar mi información</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Información del paciente</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Nombres</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Nombres</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Apellidos</p>
                                <h6 class="text-muted f-w-400">@Model.Paciente.Apellidos</h6>
                            </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Documento de Identidad</p>
                              <h6 class="text-muted f-w-400">@Model.Paciente.Id</h6>
                          </div>
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Teléfono</p>
                              @if (Model.Paciente.Telefono != null)
                              {
                                <h6 class="text-muted f-w-400">@Model.Paciente.Telefono</h6>
                              } else {
                                <h6 class="text-muted f-w-400">No registrado</h6>
                              }
                          </div>
                            <div class="col-sm-6 mt-2">
                                <p class="m-b-10 f-w-600">Familiar Asignado</p>
                                @if (Model.FamiliarAsignado != null)
                                {
                                  <a class="text-active f-w-400" asp-page="/Familiares/DetalleFamiliar" asp-route-IdPaciente="@Model.FamiliarAsignado.IdPaciente">@Model.FamiliarAsignado.Nombres @Model.FamiliarAsignado.Apellidos</a>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                            <div class="col-sm-6 mt-2">
                                <p class="m-b-10 f-w-600">Medico Asignado</p>
                                @if (Model.MedicoAsignado != null)
                                {
                                  <a class="text-active f-w-400" asp-page="/Medicos/DetalleMedico" asp-route-IdMedico="@Model.MedicoAsignado.IdMedico">@Model.MedicoAsignado.Nombres @Model.MedicoAsignado.Apellidos</a>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Fecha de Nacimiento</p>
                                @if (Model.Paciente.FechaNacimiento != null)
                                {
                                  <h6 class="text-muted f-w-400">@Model.Paciente.FechaNacimiento</h6>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                        </div>
                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Ubicación</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Dirección</p>
                                @if (Model.Paciente.Direccion != null)
                                {
                                  <h6 class="text-muted f-w-400">@Model.Paciente.Direccion</h6>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Ciudad</p>
                                @if (Model.Paciente.Ciudad != null)
                                {
                                  <h6 class="text-muted f-w-400">@Model.Paciente.Ciudad</h6>
                                } else {
                                  <h6 class="text-muted f-w-400">Sin asignar</h6>
                                }
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Latitud</p>
                              @if (Model.Paciente.Latitud != null)
                              {
                                <h6 class="text-muted f-w-400">@Model.Paciente.Latitud</h6>
                              } else {
                                <h6 class="text-muted f-w-400">Sin asignar</h6>
                              }
                          </div>
                          <div class="col-sm-6">
                              <p class="m-b-10 f-w-600">Longitud</p>
                              @if (Model.Paciente.Longitud != null)
                              {
                                <h6 class="text-muted f-w-400">@Model.Paciente.Longitud</h6>
                              } else {
                                <h6 class="text-muted f-w-400">Sin asignar</h6>
                              }
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>